<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <setting propertyKey="@Properties.notificationInterval" title="@Strings.notificationIntervalTitle">
        <settingConfig type="list">
            <listEntry value="15">@Strings.interval15</listEntry>
            <listEntry value="30">@Strings.interval30</listEntry>
            <listEntry value="45">@Strings.interval45</listEntry>
            <listEntry value="60">@Strings.interval60</listEntry>
            <listEntry value="90">@Strings.interval90</listEntry>
            <listEntry value="120">@Strings.interval120</listEntry>
        </settingConfig>
    </setting>
</settings>
